.text-field {
  height: 50px;
  width: 320px;
  border-radius: 5px;
}
.text-field-default {
  background: #EEEEEE;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding-left: 10px;
} 
.text-field-default:hover {
  background: #FFFFFF;
  box-sizing: border-box;
  border: 2px solid #3C4EA3;
}
.input-wrapper {
  margin-top: 20px;
  position:relative;
}
.text-field-default, .label-input {
  display: block;
}
.text-field {
  outline: 0;
}
.label-input {
  position:absolute;
  margin-left: 10px;
  transition:all .3s ease;
  bottom: 15px;
  pointer-events:none;
  white-space:nowrap;
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}
.input-wrapper .text-field:not(:placeholder-shown)+.label-input,
.input-wrapper .text-field:focus+.label-input{
  bottom:60%;
  font-size:75%;
  color: #5168D1;
}
